In [4]:
# importando lib pandas

import pandas as pd

In [10]:
# abrindo um arquivo com a lib

f = pd.read_csv('./dataset1.csv')

In [11]:
# apresentando o arquivo com o m√©todo head

f.head()

   id              nome  idade  carro  moto
0   1  Matheus Battisti     27      1     0
1   2   Joaquim Josinei     24      1     0
2   3     Maria Moreira     30      0     1
3   4     Edson Edimais     34      1     1
4   5      Alexia Couto     22      1     0